<nav class="navbar">
    <a href="/home"> 
        <div class="navicon">
            <i class="fa-solid fa-house" ></i>
        </div class="icon">
        <span class="tooltip">Home</span>
    </a>
    |
    <a href="/operations">
        <div class="navicon">
            <i class="fa-brands fa-btc" ></i>
        </div class="icon">
        <span class="tooltip">Operations</span>
    </a>
    |
    <a href="/status">
        <div class="navicon">
            <i class="fa-solid fa-wallet" ></i>
        </div class="icon">
        <span class="tooltip">Status</span>
    </a>
    |
    <a href="/base">
        <div class="navicon">
            <i class="fa-solid fa-power-off" ></i>
        </div class="icon">
        <span class="tooltip">Logout</span>

    </a>
</nav>