:root {
  --color0: #000c1b;
  --color1: #003752;
  --color2: #006a95;
  --color3: #00a8e4;
  --color4: #20dad8;
  --color5: #aef1ee;
  --color6: #cdfaf8;
  --errores: #ff0000bb;

  --neutral-100: #fff;
  --neutral-50: #888;
  --neutral-0: #000;

  --hover: var(--color2);

  --error-color: var(var(----errores));
  --default-line: solid 1px var(--color4);
  --default-border: solid 1px var(--color2);
}

header {
  background-color: var(--color1);
  color: var(--color5);
  height: 50px;
  padding-left: 20px;
  line-height: 50%;
  text-align: center;
  font-size: large;
}

.headlink a,
.headlink a:active,
.headlink a:focus,
.headlink a:visited,
.headlink a:hover {
  text-decoration: none;
}

.navbar {
  background-color: var(--color2);
  color: var(--color5);
  position: relative;
  height: 35px;
  line-height: 35px;
  padding-left: 260px;
  padding-right: 260px;
  font-size: 20px;
  text-align: center;
}

.navbar .fa-solid {
  padding-right: 2px;
}

.navbar a,
.navbar a:active,
.navbar a:focus,
.navbar a:visited,
.navbar a:hover {
  color: var(--color5);
  padding: auto;
  margin: 0;
  line-height: 50%;
}

.navbar a:hover {
  color: var(--hover);
  color: #87e895;
  font-style: bold;
}

.navicon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: auto;
  text-align: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.25;
  text-decoration: none;
  color: #888;
}

@media (max-width: 1013px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar a span {
    font-size: 0;
  }

  .navbar a::before {
    content: "\00a0";
    visibility: visible;
  }
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  min-height: 50vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 80px;
  background-color: var(--color0);
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid thin var(--color2);
}

.pie-pagina {
  background-color: var(--color0);
  padding-top: 10px;
  border-top: solid thin var(--color2);
}

.pie-pagina > p {
  color: var(--neutral-100);
  font-size: 15px;
  text-align: center;
}

.pie-pagina .pp2 {
  font-size: 10px;
  padding-bottom: 10px;
}

/* ESTILOS TABLA*/

.grid {
  border: var(--default-border);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.grid1 {
  max-height: 500px;
  overflow-y: auto;
}

table.paper {
  width: 100%;
  margin: 0;
}

table.paper .titulo-tabla {
  border-bottom: var(--default-line);
}

.lista-vacia {
  text-align: center;
  color: var(--neutral-50);
  padding: 20px;
}

p.error {
  font-size: small;
  margin: 0;
  line-height: 1em;
}

tr.error + tr td {
  padding-bottom: 13px;
}

/* ESTILOS PARA FORMULARIO STATUS */

.label-container label,
.invest label,
.acquired label {
  flex: 1;
  text-align: start;
  width: 100%;
}

.calculate button,
.confirm button {
  display: grid;
  margin-top: 8px;
  justify-content: space-around;
  width: 60px;
}

.invest,
.acquired,
.calculate,
.confirm {
  display: flex;
  width: 90%;
  align-items: end;
  justify-content: end;
}

.currencies-container,
.calculate-container,
.confirm-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 50px;
}

.calculate-container,
.confirm-container {
  grid-gap: 0.5px;
}

.currency_from,
.currency_to,
.currency_pu {
  width: 100%;
}

.currency_from select,
.currency_to select {
  width: 100%;
}

.calculate-container > div,
.confirm-container > div {
  display: grid;
}

.status-container .paper {
  width: 100%;
  margin: 0;
}

.status-container .grid1 {
  max-height: 500px;
  overflow-y: auto;
}

.status-container {
  text-align: center;
}

.status-container details {
  display: inline-block;
}

.status-container details summary,
.status-container details textarea {
  display: inline-block;
  cursor: pointer;
}

.status-container .titulo-tabla th,
.status-container details summary {
  color: var(--color3);
}

/* ESTILOS DEL BALANCE */

#user-balance p {
  margin: 0;
}

#user-balance {
  background-color: var(--color0);
  color: var(--neutral-100);
  padding: 10px;
  margin-bottom: 20px;
  border: var(--default-border);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.user-balance {
  background-color: var(--color4);
  color: var(--neutral-100);
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

/* ESTILOS PARA LOS BOTONES */
#page-buttons,
#boton-recarga {
  padding: 20px;
  text-align: center;
}

#boton-recarga,
.page-button {
  display: inline-block;
  margin: 10px;
  padding: 8px 16px;
  background-color: var(--color2);
  color: var(--color5);
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#boton-recarga,
.page-button:hover {
  background-color: var(--color4);
  color: var(--color0);
}

#page-buttons-container {
  text-align: center;
  margin: 20px auto;
  max-width: 400px;
}

#boton-recarga,
.page-buttons {
  text-align: center;
  margin: 20px;
}

#boton-recarga,
.page-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color2);
  color: var(--color5);
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#button-container {
  display: inline-block;
}

#boton-recarga {
  padding: 6px 12px;
  background-color: var(--color2);
  color: var(--color5);
  text-decoration: none;
  font-size: 20px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#boton-recarga:hover,
.page-button:hover {
  background-color: var(--color1);
  color: (var(--neutral-0));
  transform: scale(0.9);
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
