<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>CS3000 - {% block head_title %}CryptoSimulator APP{% endblock %}</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/pico.fluid.classless.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/cs3000.js"></script>
</head>

<body>

    {% include 'components/header.html' %}
    {% include 'components/navbar.html' %}
    
    <main>

        <!--Defino donde quiero que el resto de plantillas que hereden de aqui, puedan poner el contenido-->
        {% block page_title %}
        <h3>Últimos Movimientos</h3>
        {% endblock page_title %}


        {% block contenido %}
        {% endblock contenido%}
        
    </main>

    {% include 'components/footer.html' %}

    
</body>

</html>