{% extends "base.html" %}

{% block page_title %}
<h3>LAST MOVEMENTS</h3>
{% endblock page_title %}

{% block contenido %}

<p>
    <button id="boton-recarga">Refresh</button>
</p>

<div class="grid grid1">
    <table class="paper">
        <thead>
            <tr>
                <th class ="titulo-tabla">Date</th>
                <th class ="titulo-tabla">Time</th>
                <th class ="titulo-tabla">Coin From</th>
                <th class ="titulo-tabla">Quantity</th>
                <th class ="titulo-tabla">Coin To</th>
                <th class ="titulo-tabla">Quantity</th>
                <th class="titulo-tabla precio-unitario">P.U</th>
            </tr>
        </thead>

        <tbody id="cuerpo-tabla">
            <tr>
                <td colspan = "7" class="lista-vacia">NO MOVEMENTS</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="page-buttons">
    <p>
        <a href="/login" class="page-button">Logout</a>
    </p>
</div>
{% endblock contenido%}