{% extends "base.html" %}

{% block page_title %}
<h3>CRYPTOCURRENCIES OPERATIONS</h3>
{% endblock page_title %}

{% block contenido %}
<div id="conversion-form">
    <div id="user-balance" class="user-balance">
        <p>Balance: 10,000 €</p>
    </div>
    <form id="conversion" action="/submit-conversion" method="post">
            <div class="currency_from">
                <div class="label-container">
                    <label for="coin-from">Coin From</label>
                </div>
                <select id="coin-from" name="coin-from">
                    <optgroup label="Currencies">
                        <option value="EUR" selected>Euro (EUR)</option>
                        <option value="USD">US Dolar (USD)</option>

                    </optgroup >
                
                    <optgroup label="Cryptocurrencies">
                        <option value="BTC">Bitcoin (BTC)</option>
                        <option value="ETH">Ethereum (ETH)</option>
                        <option value="USDT">Tether (USDT)</option>
                        <option value="ADA">Cardano (ADA)</option>
                        <option value="SOL">Solana (SOL)</option>
                        <option value="XRP">Ripple (XRP)</option>
                        <option value="DOT">Polkadot (DOT)</option>
                        <option value="DOGE">Dogecoin (DOGE)</option>
                        <option value="SHIB">Shiba Inu (SHIB)</option>
                    </optgroup >
                </select>
            </div>  
        <div class = "currencies-container">    
            <div class="currency_to">    
                <div class="label-container">
                    <span>
                        <label for="coin-to">Coin To</label>
                    </span>
                    
                </div>
                <select id="coin-to" name="coin-to">
                    <optgroup label="Currencies">
                        <option value="EUR">Euro (EUR)</option>
                        <option value="USD">US Dolar (USD)</option>

                    </optgroup >
                
                    <optgroup label="Cryptocurrencies">
                        <option value="BTC" selected>Bitcoin (BTC)</option>
                        <option value="ETH">Ethereum (ETH)</option>
                        <option value="USDT">Tether (USDT)</option>
                        <option value="ADA">Cardano (ADA)</option>
                        <option value="SOL">Solana (SOL)</option>
                        <option value="XRP">Ripple (XRP)</option>
                        <option value="DOT">Polkadot (DOT)</option>
                        <option value="DOGE">Dogecoin (DOGE)</option>
                        <option value="SHIB">Shiba Inu (SHIB)</option>
                    </optgroup >
                </select>
            </div>

            <div class="currency_pu">
                <div class="label-container">
                    <label for="p-u">P.U.</label>
                </div >
                <input type="text" id="p-u" name="p-u" readonly/>
            </div>
        </div>

        <div class="calculate-container">
            <div class="invest">
                <label for="quantity-from">Amount Invest</label>
                <input type="number" id="quantity-from" name="quantity-from" required min="1"/>
            </div>
    
            <div class="calculate">
                <label for="calculate"></label>
                <button type="button" id="calculate-button">
                    <i class="fas fa-calculator"></i>
                </button>
            </div>
        </div>

        <div class="confirm-container">
            <div class="acquired">
                <label for="quantity-to">Amount Acquired</label>
                <input type="text" id="quantity-to" name="quantity-to" readonly/>
            </div>
            <div class="confirm">
                <label for="confirm"></label>
                <button type="button" id="confirm-button">
                    <i class="fa-solid fa-check"></i>
                </button>
            </div>
        </div>
    </form>

</div>

<div id="page-buttons">
    <a href="/home" class="page-button">Home</a>
    <a href="/status" class="page-button">Status</a>
    <a href="/login" class="page-button">Logout</a>
</div>


{% endblock contenido %}